    * {
        margin: 0;
    }

    .background-image-padding {
        padding: 100px;
        border: darkslategrey 10px solid;
        border-radius: 10px;
        background-clip: padding-box;
        background-image: url(../test1/images/大图1.jpg),
                          linear-gradient(rgba(0, 90, 255, .5),rgba(225, 225, 0, .5));

    }

    .content {
        color: wheat;
        font-size: 25px;
        text-align: center;
    }

    .background-image-border {
        font-size: 25px;
        color: wheat;
        height: 100px ;
        line-height: 100px;
        text-align: center;
        border: 10px navajowhite dotted;
        background-clip: border-box;
        background-image: url(../test1/images/大图1.jpg),
                          linear-gradient(rgb(225, 100, 0),rgb(220, 50, 0));
    }

    .background-image-text {
        font-size: 25px;
        height: 100px ;
        line-height: 100px;
        text-align: center;
        background-image: url(../test1/images/大图4.jpg),
        linear-gradient(navajowhite,orange);

        background-clip: content-box; /* 此处教程中本是text，但这里用content-box更好一点 */
        -webkit-background-clip: text;
        color: transparent;
    }

    .background-origin {
        border: dimgrey 10px solid;
        padding: 80px;
        background-image: url(../test1/images/动图1.gif);
        background-repeat: no-repeat;
        background-origin: padding-box; /* 共有三种选择：border-box, padding-box, content-box 不同的选择，图像的起点不一样，border-box和padding-box比，图像更近于border-box */
    }

    /* 当视口小于30em时，背景为灰色，大于等于30em时，背景为白色 */
    body {
        background-color: grey;
    }

    @media (min-width: 30em) {
        body {
            background-color: white;
        }

    }

    /* 调整背景图像大小 */

    /* 其图大小随视口变化，保留原来比例 */
    .cover {
        height: 1000px;
        background-image: url(../test1/images/动图1.gif),
                          linear-gradient(yellow, orange);
        background-size: cover;

    }

    /* 大小随盒子而定，不随视口变化，保留自己的比例 */
    .contain {
        height: 500px;
        background-image: url(../test1/images/动图1.gif),
        linear-gradient(yellow, orange);
        background-size: contain;
        background-repeat: no-repeat;

    }

    /* 背景图像定位 （默认背景位置为左上角，(0,0)）*/
    .background-position {
        height: 50px;
        background-image: url(../test1/images/动图1.gif),
                          linear-gradient(rgb(255, 0, 80),rgb(150, 0, 255));
        background-repeat: no-repeat;
        background-position: top center;

    }

    .scroll {
        height: 500px;
        background-image: url(../test1/images/动图1.gif),
        linear-gradient(yellow, orange);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

    .fixed {
        height: 1000px;
        background-image: url(../test1/images/动图1.gif),
        linear-gradient(yellow, orange);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .object-fit-cover {
        border: 10px inset antiquewhite;
        object-fit: cover;
    }

    .object-fit-contain {
        border: 10px inset lightblue;
        object-fit: contain;   /* 试试fill值，它可以让图像充满盒子，但是不会维持比例 */
    }