    .One {
        display: block;
        border: 10px red solid;
        background-color: #ffe4b2;
    }

    .Two {
        display: inline-flex;
        list-style-type: none;
        background-color: #9ACD32;
    }

    .Three {
        display: block;
        background-color: #66e9ff;
    }

    .s1 {
        display: inline;
        background-color: grey;
    }

    span {
        margin: 20px; /* 内联盒子的内外边距盒边框虽然都生效，但是效果明显的是外边距，其它会重叠 */
        background-color: #E83828;
    }

    .a {
        background-color: orange;
    }

    .b {
        background-color: darkorange;
    }

    .c {
        background-color: orangered;
    }

    .inline-block {
        display: inline-block; /* inline-block 可以让块成行排列 */
        background-color: #ffe4b2;
    }