* {
    margin :0;
    padding: 0;
}

div a {
    text-decoration: none;
}

body {
    font-family: "PingFang SC",Arial,"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",simsun,sans-serif;
}

header {
    background-color: #222222;
    height: 30px;
    color: #ffffff;
    min-width: 1200px; /* min-width设置好，否则可能会有一段空白 */

}

ul {
    list-style-type: none;
}

.header-top {
    width: 1180px;
    margin: 0 auto;
    line-height: 30px;
    position: relative;
}

.header-box {
    float: right;
}

header .header-box ul {
    list-style-type: none;
}

.header-box ul li {
    float: left;
    display: inline;
    padding-left: 12px;
    font-size: 14px;
}

.login::before {
    float: left;
    content: "";
    width: 1px;
    height: 15px;
    margin-left: 12px;
    background-color: #a7a7a7;
    display: inline-block;
    margin-top: 8px;
    position: relative;
    right: 10px;
}

header .header-box ul li a {
    color: #a7a7a7;
}

header .header-box ul li a:hover {
    color: #ffffff;
}

.top-box {
    width: 1180px;
    margin: 0 auto;
 }

.top-sohu {
    position: absolute; /* absolute 相对于position值不为static的父元素 */
    top: -30px;
    left: 0;
}

.form-search {
    position: relative;
    height: 90px;

}

.form-search form fieldset {
    max-width:550px;
    min-height:40px;
    position: relative;
    top: 15px;
    left: 225px;
    border: hidden;
    display: inline-block;
}

#searchID {
    width: 469px;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #ececec;
    border-right: 0;
    background: #f9f9f9;
    border-radius: 1px 0 0 1px;
    box-sizing: border-box;
    outline: 0; /* 可理解为利于阅读障碍者的选择框 若为none，那么网页的可访问性会降低 */
}

#searchID:focus {
    border-color: #FDD000;
}

#searchButton {
    width: 80px;
    height: 40px;
    background-color: #FDD000;
    position: relative;
    overflow: hidden;
    right: 5px;
    border:none;
    display: inline-block;
    float: right;

}

.top-right {
    position: absolute;
    right: 0;
    top: 26px;
    display: inline-block;
}

.top-items {
    width: 300px;
    display: inline;

}

.top-item {
    margin: 0 6px;
    display: inline-block;
}

.title{
    color: #404040;
    font-size:12px;
    padding-left: 10px;
}

.go::after {
    content: "";
    width: 1px;
    height: 15px;
    right: -8px;
    bottom: -2px;
    background: #e5e5e5;
    position: relative;
    display: inline-block;

}

.top-item  .top-pic {
    margint:0 5px;
    display: inline-block;
}

.top-item .title {
    margin: 0 3px;
    position: relative;
    display: inline-block;
    bottom: 10px;

}

.title a {
    color: #404040;
}

.title a:hover {
    color: #E83828;
}

.nav-box {
    width: 1180px;
    height: 45px;
    border-top: 1px #e5e5e5 solid;
    border-bottom: 1px #e5e5e5 solid;
    padding: 14px 0;
    margin: 0 auto;
    font-size: 14px;

}

.nn-box {
    width: 146px;
    height: 42px;
    padding-left: 26px;
    margin-left: 2px;
    float: left;
    display: inline-block;
    border-left: 1px solid #efefef;
}

.nn-box:nth-child(1) {
    padding-left: 0;
    border: 0;
}

.nn-box:nth-child(7) {
    text-align: right;
    padding-left: 6px;
    margin: 0;
    float: right;

}

.nn-box ul {
    height: 28px;
}

.nn-box .nav-item {
    width: 45px;
    display: inline-block;
}

.nn-box .end .nav-item  {
    width: 30px;
}

.nav-item a {
    color: #333333;
}

.nav-item a:hover {
    color: #E83828;
}


main {
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #ffe4b2;
}



.ad-picture-one {
    display: inline-block;
    margin-left: 10px;
}

.ad-picture-one img {
    width: 1030px;
    height: 100px;

}

.ad-picture-two-three {
    display: inline-block;
}

.two img, .three img {
    width: 144px;
    height: 47px;
    display: block;
}

.two img {
    margin-bottom: 6px;
}

.hot-topic {
    width: 1180px;
    height: 1142px;
    margin: 16px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hot-middle {
    width: 500px;
    order: 2;
}



.middle-news ul li {
    height: 32px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.middle-news ul li::before {
    content: "";
    background-color: #cccccc;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin: 13px 11px 0 0;
    display: inline-block;
    float: left;
}

.middle-news ul li a {
    color:#404040;
}

.middle-news ul li a:hover {
    color: #E83828;
}

.line {
    color: #dfdfdf;
    margin: 0 4px;
}

.middle-news:nth-child(1) {
    margin-top: 6px;
}

.middle-news {
    margin-top: 14px;
}

.first-title {
    font-size: 18px;
}

.hot-left {
    width: 320px;
    height: 1142px;
    order: 1;
}

.left-one {
    width: 320px;
    height: 220px;
    margin: 0;
    background-image: url(sohu-pics/hot_topic_left_one.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.left-one p {
    color: white;
    font-size: 16px;
    position: relative;
    top: 180px;
}

.left-two {
    margin-top: 10px;
}

.left-two figure {
    height: 170px;

}

.left-two figure:nth-child(odd) {
    float: left;
    margin-right: 10px;
}

.left-two figure:nth-child(even) {
    overflow: hidden;
}

.left-two figure img {
    width: 155px;
    height: 103px;
}

.left-two figure figcaption {
    width: 155px;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    margin-top: 8px;
}

.left-two a {
    color: #404040;
}

.left-two a:hover {
    color: #E83828;
}

.left-three {
    width: 320px;
    height: 556px;
    margin-top: 6px;
}

.all-title {
    width: 320px;
    height: 24px;
    line-height: 24px;
}

.tt {
    float: left;
    height: 24px;
    font-size: 16px;
    color: #666666;
}

.tt::before {
    float: left;
    content: "";
    width: 4px;
    height: 14px;
    background-color:#FDD000;
    margin: 5px 8px 0 0;
    display: inline-block;
    border-radius: 2px;
    overflow: hidden;
}

.pic-news {
    width: 320px;
    height: 160px;
    margin: 8px auto 0;
    background-image: url(sohu-pics/left_three_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.player {
    height: 26px;
    position: absolute;
    left: 10px;
    bottom: 12px;
    display: inline-block;
}

.content {
    width: 320px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.content-text {
    color: #ffffff;
    font-size: 14px;
}

.two-pic-news {
    width: 320px;
    height: 103px;
    margin-top: 23px;
    position: relative;
}

.pic {
    width: 155px;
    height: 103px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pic.pic-one {
    background-image: url(sohu-pics/left_three_2jpg.jpg);
    float: left;
    margin-right: 10px;
}

.pic.pic-two {
    background-image: url(sohu-pics/left_three_3.jpg);
    float: left;
}

.pic-content {
    width: 155px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    bottom: -5px;
}

.three-list {
    width: 320px;
    height: 84px;
    padding-top: 7px;
}

.three-list-second {
    height: 140px;
}

.three-list ul {
    width: 320px;
    height: 28px;
    line-height: 28px;
}

.three-list ul li {

    margin-right:8px;
    font-size: 14px;
    display: inline-block;
}

.three-list ul li:nth-child(1) {
    margin:0;
}

.three-list ul li a {
    color: #404040;
}

.three-list ul li a:hover {
    color: #E83828;
}

.three-list li:nth-child(2) {
    color: #cccccc;
    margin: 0 3px;
}

.hot-right {
    width: 300px;
    height: 1142px;
    order: 2;
}

.right-one {
    height: 456px;
}

.one-title {
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
}

.one-title .tt-one {
    float: left;
}

.one-title .tt-one a {
    color: #999999;
}

.one-title .tt-one a:hover {
    color: #333333;
}

.one-title .tt-one:nth-child(2) {
    font-size: 15px;
    color: #e5e5e5;
    margin: 0 14px;
}

.change {
    float: right;
    font-size: 12px;
    position: relative;
    right: 1px;
}

.change a {
    color: #539ff3;
}

.change a img {
    margin: 5px 0 0 6px;
}

.change a:hover {
    border: 2px solid #539ff3;
    border-radius: 5px;
}

.right-one-pic {
    width: 300px;
    height: 135px;
    background-image: url(sohu-pics/right-one-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5px;
}

.right-pic-content {
    width: 275px;
    height: 60px;
    text-align: left;
    color: #ffffff;
    position: absolute;
    left: 15px;
    bottom: -15px;
}

.right-one-list {
    font-size: 14px;
    margin-top: 2px;
}

.right-one-list ul li {
    line-height: 20px;
    width: 300px;
    height: 58px;
    box-sizing: border-box;
    padding: 12px 15px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    position: relative;

}

.right-one-list ul li:nth-child(-n+4)::after {
    content: "";
    display: block;
    width: 256px;
    height: 1px;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    left: 22px;
}

.right-one-list ul li a {
    color:#303030;
}

.right-one-list ul li a:hover {
    color: #E83828;
}

.right-two {
    height: 250px;
    margin-top: 10px;
}

.right-two a img {
    width: 100%;
    height: 100%;
}

.right-three {
    padding: 16px 0 4px;
    margin-top: 10px;
    background-color: #f9f9f9;
    position: relative;
}

.A {
    width: 300px;
    height: 72px;
    padding: 8px 15px 0 ;
    position: relative;
}

.TT {
    margin-left: 15px;
}

.read a,
.read-one a {
    font-size: 12px;
    color: #999999;
}

.read-one {
    position: absolute;
    bottom: 5px;
    right: 45px;
}

.read {
    position: absolute;
    bottom: 5px;
    right: 0;
}

.top-one {
    margin-right: 10px;
    float: left;
    position: relative;
}

.right-content-one {
    width: 170px;
    height: 60px;
    overflow:hidden;
    font-size: 14px;
    line-height: 20px;
}

.right-content {
    width: 238px;
    height: 44px;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    position: relative;
    top: -2px;
}



.A > a,
.B > a {
    color: #404040;
}

.A a:hover,
.B a:hover {
    color: #E83828;
}

.aa {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    background-color: #FDD000;
    position: absolute;
    top: 0;
    left: 0;
}

.B {
    width: 270px;
    height: 56px;
    margin: 0 15px;
    position: relative;
}

.ff {
    padding-top: 10px;
}

.bb {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    background-color: #e8e8e8;
    margin-right: 10px;
    float: left;
    color: #666666;
}

.ad-hot-pic img {
    width: 1180px;
    height: 100px;
    display: block;
    margin: 10px auto 0;
}

.news_sections {
    margin: 0 auto;
    background-color: #feffa2;

}

.news-sections .section-items{
    width: 1180px;
    height: 483px;
    margin: 25px auto 0;
    border-top: 1px solid orange;
    background-color: #c0ff84;
}

.ad-news-section-one {
    width: 1180px;
    height: 110px;
    margin: 10px 10px 0;
    border: 1px solid red;
    background-color: #33ff95;
}

.ad-news-section-one img {
    width: 8%;
    height: 100%;
}

.other-news {
    width: 1180px;
    margin: 25px 10px 0;
    background-color: #3a768f;
    display: flex;
}

.contain-one {
    width: 900px;
    padding-right: 10px;
    background-color: #ff6653;
}

.contain-two {
    width: 300px;
    background-color: #9ACD32;
}

.ad-other-news {
        width: 850px;
        height: 110px;
        border: 1px silver solid;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.ad-other-news .ad-item figure img {
    width: 100px;
    height: 90px;
}

.ad-other-news .ad-item figure {
    font-size: 12px;
    text-align: center;
}

.content-parts {
    width: 850px;
    background-color: #66e9ff;
}


.content-parts section {
    width: 410px;
    height: 436px;
    background-color: pink;
    margin-bottom: 20px;
    border: 1px solid red;

}

.content-parts section:nth-child(odd) {
    float: left;
    margin-right: 25px;
}

.content-parts section:nth-child(even) {
    overflow: hidden;
}

.ad-other img {
    width: 850px;
    height: 100px;
    display: block;
    margin-bottom: 10px;
}

.ad-contain-two a img {
    width: 300px;
    height: 300px;
    position: relative;
    border: 1px red solid;
}

.list {
    width: 260px;
    margin-top: 10px;
    padding: 10px 20px;
    overflow: hidden;
    background-color: #ffe4b2;
}

/* 全网页的带黄标的小标题 */
.little-title {

    margin-bottom: 10px;
}

.ranks {
    width: 260px;
    display: inline;
}

.ranks ul {
    list-style-type: none;
}

.ranks ul li {
    width: 70px;
    text-align: center;
    display: inline-block;
}

.ad-second {
    width: 300px;
    height: 260px;
    background-color: white;
}

.ad-second figure a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.list a {
    text-decoration: none;
    color: black;
}

.list ul {
    list-style-type: none;
}

.hobby {
    width: 300px;
    height: 140px;
    border: 1px grey solid;
}

.hobby-items {
    width: 300px;
    height: 105px;
    margin-top: 10px;
    border: 1px grey solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hobby-items .little-contain-one {
    flex: 140px;
    height: 105px;
    border: 1px grey solid;
    background-image: url(sohu-pics/pcb.png);
    background-size: cover;
    position: center;
}

.hobby-items .little-contain-two {
    flex: 140px;
    height: 105px;
    border: 1px grey solid;
    background-image: url(sohu-pics/sensor.png);
    background-size: cover;
    position: center;
}

.hobby .hobby-items p {
    background-color:rgba(0, 0, 0, .5) ;
    color: white;
    text-align: center;
    position: relative;
    top: 80px;
}

.bottom {
    width: 1178px;
    padding-top: 16px;
    border: 1px solid grey;
    margin: 0 auto;
    display: table;
    table-layout: fixed;

}

.first {
    display: table-cell;
    text-align: center;
}

footer {
    text-align: center;
}