* {
    margin :0;
    padding: 0;
}

div a {
    text-decoration: none;
}

body {
    font-family: "PingFang SC",Arial,"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",simsun,sans-serif;
}

header {
    background-color: #222222;
    height: 30px;
    color: #ffffff;
    min-width: 1200px;

}

.header-top {
    width: 1180px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    position: relative;
}

.header-box {
    float: right;
}

header .header-box ul {
    list-style-type: none;
}

.set {
    color: #a7a7a7;
}

.header-box ul li {
    float: left;
    display: inline;
    padding-left: 12px;
    font-size: 14px;
    font-family: "PingFang SC",Arial,"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",simsun,sans-serif;
}

.login::before {
    float: left;
    content: "";
    width: 1px;
    height: 15px;
    margin-left: 12px;
    background-color: #a7a7a7;
    display: inline-block;
    margin-top: 8px;
    position: relative;
    right: 10px;
}

header .header-box ul li a {
    text-decoration: none;
    color: #a7a7a7;
}

header .header-box ul li a:hover {
    color: #ffffff;
}

.top-box {
    width: 1180px;
    margin: 0 auto;
 }

.top-sohu {
    position: absolute;
    top: -30px;
    left: 0;
}

.form-search {
    position: relative;
    height: 90px;

}

.form-search form fieldset {
    max-width:550px;
    min-height:40px;
    position: relative;
    top: 15px;
    left: 225px;
    border: hidden;
    display: inline-block;
}

#searchID {
    width: 469px;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #ececec;
    border-right: 0;
    background: #f9f9f9;
    border-radius: 1px 0 0 1px;
    box-sizing: border-box;
    outline: 0; /* 可理解为利于阅读障碍者的选择框 若为none，那么网页的可访问性会降低 */
}

#searchID:focus {
    border-color: #FDD000;
}

form button[type="submit"] {
    width: 80px;
    height: 40px;
    background-color: #FDD000;
    position: relative;
    overflow: hidden;
    right: 5px;
    border:none;
    display: inline-block;
    float: right;

}

.top-right {
    position: absolute;
    right: 0;
    top: 26px;
    display: inline-block;
}

.top-items {
    width: 300px;
    display: inline;

}

.top-item {
    margin: 0 6px;
    display: inline-block;
}

.top-items ul {
    list-style-type: none;
}

.title{
    color: #404040;
    font-size:12px;
    padding-left: 10px;
}

.go::after {
    content: "";
    width: 1px;
    height: 15px;
    right: -8px;
    bottom: -2px;
    background: #e5e5e5;
    position: relative;
    display: inline-block;

}

.top-item a {
    text-decoration: none;
}

.top-item  .top-pic {
    margint:0 5px;
    display: inline-block;
}

.top-item .title {
    margin: 0 3px;
    position: relative;
    display: inline-block;
    bottom: 10px;

}

.title a {
    color: #404040;
}

.title a:hover {
    color: #E83828;
}



.nav-box {
    width: 1180px;
    height: 45px;
    border-top: 1px #e5e5e5 solid;
    border-bottom: 1px #e5e5e5 solid;
    padding: 14px 0;
    margin: 0 auto;
    font-size: 14px;

}

.nn-box {
    width: 146px;
    height: 42px;
    padding-left: 26px;
    margin-left: 2px;
    float: left;
    display: inline-block;
    border-left: 1px solid #efefef;
}

.nn-box:nth-child(1) {
    padding-left: 0;
    border: 0;
}

.nn-box:nth-child(7) {
    text-align: right;
    padding-left: 6px;
    margin: 0;
    float: right;

}

.nn-box ul {
    height: 28px;
    list-style-type: none;

}

.nn-box .nav-item {
    width: 45px;
    display: inline-block;
}

.nn-box .end .nav-item  {
    width: 30px;
}

.nav-item a {
    color: #333333;
}

.nav-item a:hover {
    color: #E83828;
}


main {
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #ffe4b2;
}



.ad-picture-one {
    display: inline-block;
    margin-left: 10px;
}

.ad-picture-one img {
    width: 1030px;
    height: 100px;

}

.ad-picture-two-three {
    display: inline-block;
}

.two img, .three img {
    width: 144px;
    height: 47px;
    display: block;
}

.two img {
    margin-bottom: 6px;
}

.hot-topic {
    width: 1180px;
    height: 1142px;
    margin: 16px auto 0;
    background-color: #b0adff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.hot-middle {
    width: 500px;
    height: 1142px;
    background-color: mediumseagreen;
    order: 2;

}

.hot-left {
    width: 320px;
    height: 1142px;
    background-color: orangered;
    order: 1;

}

.hot-left a {
    color: black;
    text-decoration: none;
}

.left-one {
    width: 320px;
    height: 220px;
    margin: 0;
    background-image: url(sohu-pics/hot_topic_left_one.jpg);
    background-repeat: no-repeat;
}

.left-one p {
    color: white;
    font-size: 16px;
    font-family: Arial serif;
    position: relative;
    top: 180px;
}


.hot-right {
    width: 300px;
    height: 1142px;
    background-color: dodgerblue;
    order: 2;

}

.ad-hot-pic img {
    width: 1180px;
    height: 100px;
    display: block;
    margin: 10px auto 0;
}

.news_sections {
    margin: 0 auto;
    background-color: #feffa2;

}

.news-sections .section-items{
    width: 1180px;
    height: 483px;
    margin: 25px auto 0;
    border-top: 1px solid orange;
    background-color: #c0ff84;
}

.ad-news-section-one {
    width: 1180px;
    height: 110px;
    margin: 10px 10px 0;
    border: 1px solid red;
    background-color: #33ff95;
}

.ad-news-section-one img {
    width: 8%;
    height: 100%;
}

.other-news {
    width: 1180px;
    margin: 25px 10px 0;
    background-color: #3a768f;
    display: flex;
}

.contain-one {
    width: 900px;
    padding-right: 10px;
    background-color: #ff6653;


}

.contain-two {
    width: 300px;
    background-color: #9ACD32;
}

.ad-other-news {
        width: 850px;
        height: 110px;
        border: 1px silver solid;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.ad-other-news .ad-item figure img {
    width: 100px;
    height: 90px;
}

.ad-other-news .ad-item figure {
    font-size: 12px;
    text-align: center;
}

.content-parts {
    width: 850px;
    background-color: #66e9ff;
}


.content-parts section {
    width: 410px;
    height: 436px;
    background-color: pink;
    margin-bottom: 20px;
    border: 1px solid red;

}

.content-parts section:nth-child(odd) {
    float: left;
    margin-right: 25px;
}

.content-parts section:nth-child(even) {
    overflow: hidden;
}

.ad-other img {
    width: 850px;
    height: 100px;
    display: block;
    margin-bottom: 10px;
}

.ad-contain-two a img {
    width: 300px;
    height: 300px;
    position: relative;
    border: 1px red solid;
}

.list {
    width: 260px;
    margin-top: 10px;
    padding: 10px 20px;
    overflow: hidden;
    background-color: #ffe4b2;
}

/* 全网页的带黄标的小标题 */
.little-title {

    margin-bottom: 10px;
}

.ranks {
    width: 260px;
    display: inline;
}

.ranks ul {
    list-style-type: none;
}

.ranks ul li {
    width: 70px;
    text-align: center;
    display: inline-block;
}

.ad-second {
    width: 300px;
    height: 260px;
    background-color: white;
}

.ad-second figure a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.list a {
    text-decoration: none;
    color: black;
}

.list ul {
    list-style-type: none;
}

.hobby {
    width: 300px;
    height: 140px;
    border: 1px grey solid;
}

.hobby-items {
    width: 300px;
    height: 105px;
    margin-top: 10px;
    border: 1px grey solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hobby-items .little-contain-one {
    flex: 140px;
    height: 105px;
    border: 1px grey solid;
    background-image: url(sohu-pics/pcb.png);
    background-size: cover;
    position: center;
}

.hobby-items .little-contain-two {
    flex: 140px;
    height: 105px;
    border: 1px grey solid;
    background-image: url(sohu-pics/sensor.png);
    background-size: cover;
    position: center;
}

.hobby .hobby-items p {
    background-color:rgba(0, 0, 0, .5) ;
    color: white;
    text-align: center;
    position: relative;
    top: 80px;
}

.bottom {
    width: 1178px;
    padding-top: 16px;
    border: 1px solid grey;
    margin: 0 auto;
    display: table;
    table-layout: fixed;

}

.first {
    display: table-cell;
    text-align: center;
}

footer {
    text-align: center;
}